<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <!-- Served from DO -->
    <title>SilentLines</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="Cara Featherstone" />
    <meta name="description" content="A brief description of my work" />
    <meta name="keywords" content="cara thompson, music" />
    <meta name="robots" content="index, follow, noarchive" />
    <meta name="googlebot" content="noarchive" />

    <link rel="stylesheet" href="/css/UrbanArtist.css" type="text/css" />

    <!--[if gt IE 5]>
	<link rel="stylesheet" href="/ie.css" type="text/css">
	  <![endif]-->

    <!-- Google analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41579762-5']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script> 

  </head>

  <body>

    <!-- wrap starts here -->
    <div id="wrap">
      <!--header -->
      <div id="header">
	<h1 id="logo-text"><a href="/" title="">Silent Lines</a></h1>
	<!--header ends-->
      </div>

      <!-- content-wrap starts -->
      <div id="content-wrap">
	<div id="main">
          {{ content }}
	  <!-- main ends -->
	</div>

	<!-- sidebar starts -->
	<div id="sidebar">

	  <h3>Who?</h3>
	  <p>
	    <a href="index.py"><img src="images/id.jpg" width="60"
	    height="60" alt="photo" class="float-left" /></a>
	    <strong>Cara Thompson </strong>(nee Featherstone)<br>
	      Singer-songwriter and composer <br/> <br/>
	      <b>Follow Me</b><br/>
	      |<a href="http://www.last.fm/user/SilentLines" rel="nofollow" title="last.fm">Last.fm</a> |
	    </p>
	    <h3>Music</h3>
	    <ul class="sidemenu">
	      <li><a href="index.html">Singer-songwriter</a></li>
	      <li><a href="index.html">Instrumental music</a></li>
	      <li><a href="index.html">Gigs</a></li>
	    </ul>

	    <h3>Resources</h3>
	    <ul class="sidemenu">
	      <li><a href="index.html">Arrangements</a></li>
	      <li><a href="index.html">Carols</a></li>
	      <li><a href="index.html">School play composition</a></li>
	      <li><a href="index.html">Collaborating</a></li>
	      <li><a href="index.html">Translation</a></li>
	    </ul>

	    <h3>Looking for something else?</h3>
	    <ul class="sidemenu">
              <li><a href="http://www.carafeatherstone.co.uk/"
              title="Affiliation">Cara Featherstone,
              Psychometrician<br />
		  <span>In case you landed here by mistake, here's the
		  way back to my work pages...</span></a>
	      </li>
	      <li><a href="http://www.johnfeatherstone.com/"
	      title="johnfeatherstone">John Featherstone<br />
		  <span>Je suis tomb\u00e9e dedans quand j'\u00e9tais
		  petite</span></a>
	      <li><a href="http://www.myspace.com/hannahclairmusic/music"
	      title="HannahClair">Hannah Clair<br />
		  <span>It runs in the family</span></a>
	      </li>
	      <li><a href="http://www.myspace.com/matthewfeatherstone"
	      title="music">Matthew Featherstone<br />
		  <span>It runs in the family</span></a>
	      </li>
	      </ul>
	      <!-- sidebar ends -->
	    </div>

	    <!-- content-wrap ends-->
	  </div>

	  <!-- footer starts here -->
	  <div id="footer">

	    <div id="footer-left">
	      <p>
		&copy; 2011, Cara R. Featherstone&nbsp;
		Website template by <a href="http://www.styleshout.com/">Styleshout</a> &nbsp;
	      </p>
	    </div>
	  </div>
	  <!-- footer ends here -->
	  <!-- wrap ends here -->
	</div>
      </body>
    </html>
